header {

    background-color: black;
   
    text-align: center;
    margin:auto;

width: 600px;}
.imgback
{
     width: 600px;
     height: 400px;
        background-image: url("../images/banner.jpg");
        background-size: cover;
        background-position: center; 
    text-align: center;
        font-size:1.1em;
        margin:auto;
      
}

body {
    font-family: #393d41;
    font-size: 1.2rem;
    line-height: 1.65;

}

h1{
    font-family:  #393d41;
    font-weight:bold;
}

.incolonna {
    border: 1px solid black;
    border-radius: 10px;
}
h2{
    color: aqua;
    font-weight: bold;
}

.rosso {
    background-color: #e22d0e;
    width:600px;
    height:200px;
    text-align: center;
    margin:auto;
}
.bottone{
   color: #f04c2f ;
    font-weight:bold ;


text-align: center;
line-height: center;
}
.card{
    text-align: center;}
    .cart2{
        text-align: center;
    }
    
    .carta3{
        text-align:center
    }
    h3{
        font-weight:bold;
        color:#008B8B;
        font-size: 1.5em;
    }
    .blu {
        background-color: #34c3eb;
        width:600px;
        height:200px;
        text-align: center;
        margin:auto;
    }
    .bianco {
        font-weight: bold;
        color: white;
        font-size: 1.1em;
    }
.tabella{
    text-align:center;
}
img{
    width:300px;
}
.card {
    width:400px;
    height: 300px;
    border: 1px solid grey;
    text-align: center;
    margin:auto;
}
.cart2{ width:400px;
    height: 300px;
    border: 1px solid grey;
    text-align: center;
    margin:auto;

}
.carta3{ width:400px;
    height: 300px;
    border: 1px solid grey;
    text-align: center;
    margin:auto;

}